1M180374-0 Yuta OGAWA

1.Read in the ramen ratings file as a dataframe
2.set appropriate index and column names and print out an overview of the dataframe

In [185]:
import pandas as pd
df = pd.read_csv("ramen-ratings.csv",index_col=0)
df.head()

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

3.Print a subset of the dataframe that only has the information of the brand of ramen and its score (hint: not groupby, or creation of new dataframe. How can we access specific rows or columns of data?)

In [189]:
df.loc[:,["Brand","Stars"]].head()

                   Brand  Stars
Review #
2580           New Touch   3.75
2579            Just Way   1.00
2578              Nissin   2.25
2577             Wei Lih   2.75
2576      Ching's Secret   3.75

4.Oh no, it seems the last column is full of null values. Convert these to NaN.

In [ ]:
#It automatically does that. Or rather NaN is a null value. Am I correct...?

5.Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

In [ ]:
nissin_good = df[(df["Brand"]=="Nissin")&(pd.to_numeric(df["Stars"],errors="coerce")>=3.5)]
nissin_good.head()

6.Group the ramen by brand and calculate the mean, max, and min values in a single output.

In [186]:

df["Stars"]=pd.to_numeric(df["Stars"],errors="coerce")

grouped_brand = df.groupby("Brand")
grouped_brand.agg({'Stars':['mean','min','max']}).head()

                     Stars
                      mean   min  max
Brand
1 To 3 Noodles    4.000000  4.00  4.0
7 Select          3.750000  3.50  4.0
7 Select/Nissin   3.500000  3.50  3.5
A-One             2.750000  1.25  3.5
A-Sha Dry Noodle  4.067308  2.00  5.0

7.What is the mode rating for all ramen?

In [184]:
print(df['Stars'].mode()[0])

4.0

8.Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?

In [195]:
#groupby brand and variety
grouped = df.groupby(["Brand","Variety"]).mean()
#displaying the information in desending order
grouped.sort_values("Stars",ascending = False).head(10)

                                                            Stars
Brand         Variety
Indomie       Mi Goreng Jumbo Beef                            5.0
Sun Noodle    Ramen Miso Flavor                               5.0
Samyang Foods Nagasaki Crab Jjampong                          5.0
Dream Kitchen Curry Flavour Instant Noodles                   5.0
Nissin        Raoh Rich Miso Flavor                           5.0
Samyang Foods Paegaejang Ramen                                5.0
Nissin        Raoh Ramen Noodle Soup Umami Tonkotsu Flavor    5.0
Samyang Foods Red Nagasaki Jjampong                           5.0
              Samyang Ramen Classic Edition                   5.0
Nissin        Raoh Pork Bone Soy Soup Noodle                  5.0

In [196]:
#noodles with the highest average
grouped[grouped["Stars"] == grouped["Stars"].max()].head(10)

                                                                     Stars
Brand            Variety
A-Sha Dry Noodle Chow Mein Original Flavor                             5.0
                 Dry Noodle Mandarin Noodle - Onion Oil Sauce          5.0
                 Dry Noodle QQ Thin Noodle - BBQ Sauce                 5.0
                 Tainan Noodle Original Sauce                          5.0
                 Veggie Noodle Baby Grass Noodle With Toona Sauce      5.0
                 Veggie Noodle Tomato Noodle With Vine Ripened T...    5.0
ABC              Mi Goreng Pangsit Fried Noodle With Dumpling          5.0
Acecook          Comet Mori Yukino Tan-tan men                         5.0
Ah Lai           Penang Favourite White Curry Rice Vermicelli          5.0
Amianda          Tachia Dried Noodles - Rou Zhou Meat Sauce            5.0

9.How many different brands of ramen are included in the dataset?

In [174]:
print(df["Brand"].nunique())

355